<form [formGroup]="medicForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <h2>{{ title }}</h2>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input
              matInput
              placeholder="First Name"
              formControlName="firstName"
            />
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input
              matInput
              placeholder="Last Name"
              formControlName="lastName"
            />
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Title" formControlName="title" />
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input
              matInput
              placeholder="Profession"
              formControlName="profession"
            />
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input
              matInput
              placeholder="Specialization"
              formControlName="specialization"
            />
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Email" formControlName="email" />
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Phone" formControlName="phone" />
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Location" formControlName="location" />
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Reviews" formControlName="reviews" />
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input
              matInput
              placeholder="General Grade"
              formControlName="grade"
            />
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="accent" type="submit">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>
