<div class="content">
  <div>
    <h1 class="secondary-header">Select patient</h1>
    <mat-form-field appearance="fill">
      <mat-label>Represented Patient</mat-label>
      <mat-select [formControl]="patientControl" required>
        <mat-option *ngFor="let patient of patients" [value]="patient">
          {{ patient.lastName }} {{ patient.firstName }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="patientControl.hasError('required')"
        >Please choose a patient</mat-error
      >
      <mat-hint>{{ patientControl.value?.id }}</mat-hint>
    </mat-form-field>
    <h1 class="secondary-header">Select doctor</h1>
    <mat-form-field appearance="fill">
      <mat-label>Represented Doctor</mat-label>
      <mat-select [formControl]="doctorControl" required>
        <mat-option *ngFor="let doctor of doctors" [value]="doctor">
          {{ doctor.lastName }} {{ doctor.firstName }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="doctorControl.hasError('required')"
        >Please choose a doctor</mat-error
      >
      <mat-hint>{{ doctorControl.value?.id }}</mat-hint>
    </mat-form-field>
  </div>
</div>
