.title {
  font-weight: 700;
  letter-spacing: 1px;
  color: #808080;
}

.container {
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.centered {
  justify-content: center;
}

.medication-title {
  font-weight: bold;
  color: #2e333c;
  max-width: 900px;
  margin: auto;
  font-size: 56px;
}
