<mat-toolbar>
  <p class="medication-title">Medications</p>
</mat-toolbar>
<div class="container centered">
  <div *ngFor="let drug of drugs">
    <app-drug-card [drug]="drug"></app-drug-card>
  </div>
</div>

<mat-divider></mat-divider>
<mat-toolbar>
  <h1 class="title">Medics</h1>
  <mat-icon color="primary">info</mat-icon>
</mat-toolbar>
<div class="container">
  <div *ngFor="let doctor of doctors">
    <app-medic-card [doctor]="doctor"></app-medic-card>
  </div>
</div>
<mat-divider></mat-divider>
