<div class="container">
  <mat-card class="example-card card">
    <img
      mat-card-image
      src="assets/drug-placeholder.png"
      alt="Drug image"
      class="drug-img"
    />

    <button
      mat-icon-button
      aria-label="Delete this drug"
      color="warn"
      class="delete-icon"
      (click)="onDelete($event)"
    >
      <mat-icon>delete_forever</mat-icon>
    </button>
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>
        <p class="drug-header">{{ drug.name }}</p></mat-card-title
      >
    </mat-card-header>
    <mat-card-content>
      <div class="card-content">
        <p class="secondary-header">{{ drug.capacity }} {{ drug.unit }}</p>
        <p class="grade price">{{ drug.price }} RON</p>
      </div>
    </mat-card-content>
    <!-- <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions> -->
  </mat-card>
</div>
