.edit-button {
  z-index: 10000;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.example-header-image {
  background-image: url("../../assets/medic-image-placeholder.jpg");
  background-size: cover;
}

.mat-card {
  margin: 1rem;
}
